html {
  background: url(https://i.imgur.com/jZ4IdeA.jpg);
  background-size: cover;
}

body {
  overscroll-behavior-y: none;
}

.logo {
  width: 350px;
  height: 350px;
}

.menu-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

.header-nav {
  list-style-type: none;
}

.header-link {
  text-decoration: none;
  color: black;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.about {
  text-align: center;
}

.about-div {
  background: white;
  opacity: 0.5;
  height: 50vh;
  margin: 0 10%;
  background-size: cover;
  padding-top: 5%;
}

.about-p {
  color: black;
  font-size: 40px;
  margin: 0 10%;
}

.services {
  text-align: center;
}

.services-div {
  background: white;
  opacity: 0.5;
  height: 50vh;
  margin: 0 10%;
  background-size: cover;
  padding-top: 5%;
}

.services-p {
  color: black;
  font-size: 40px;
  margin: 0 10%;
}
